body{
    background-color: #fff;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}


table {
    border: solid 1px #036;
    text-align: center;
    border-collapse: collapse;
    
}
table  tr th {
    color: #fff;
    border: solid 1px #036;
    background-color: #036;
    padding: 7px 30px;
    border: solid 1px;
}
  th ,td{
    border: solid 1px #036;
}

caption{
    caption-side: bottom;
    background-color: #036;
    color: #fff;
    padding: 10px 0;
    font-size: 1.5em;
    font-weight: bold;
}